default:
    suites:
        default:
            contexts:
                - FeatureContext:
                    kernel: '@kernel'
                - behatch:context:browser
                - behatch:context:debug
                - behatch:context:system
                - behatch:context:json
                - behatch:context:table
                - behatch:context:rest
                - behatch:context:xml
                - Behat\MinkExtension\Context\MinkContext

    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: features/bootstrap/bootstrap.php
                class: App\Kernel
        Behatch\Extension: ~
        Behat\MinkExtension:
            sessions:
                default:
                    goutte: ~
